extends layout

block content
	.content-wrapper
		h1 Build your resume, just now!
		h2 It's take less than 2 minutes.
		br
		br
		a(href='/user/sign-up').btn.btn-success.btn-lg Create free resume
		span &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		a(href='/user/sign-in').btn.btn-default.btn-lg.btn-default-me LOGIN
		span &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		a(href='/ysarbabi').btn.btn-lg.btn-default-me Sample Resume
		br
		br 
